:root {
  --greytext: #c4c4c4;
}

/* .Time-list-container {
  width: 500px;
  background-color: var(--greytext);
} */

.Workspace-name {
  height: 30px; 
  font-size: 20px;
  color: var(--greytext);
  padding-bottom: 20px;
  padding-top: 15px;
}

.New-timer-form {
  width: 150px; 
  height: 20px;
  border-style: dotted;
  border-width: 1px;
  border-radius: 5px;
  border-color: var(--greytext);
  background-color: transparent;
  color: var(--greytext);
  margin: 10px;
}

.New-timer-button {
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
  font-size: 16px;
  color: var(--greytext);
}
