:root {
  --header: #e5e6e7;
  --greytext: #c4c4c4;
}

.Workspace-container {
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  padding: 15px;
  color: var(--greytext);
}
.Workspace-container:hover {
  background-color: rgba(255, 255, 255, 0.035 );
  color: var(--header);
}

.Workspace-name {
  height: 30px; 
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 15px;
}

.New-timer-form {
  width: 150px; 
  height: 20px;
  border-style: dotted;
  border-width: 1px;
  border-radius: 5px;
  border-color: var(--greytext);
  background-color: transparent;
  color: var(--greytext);
  margin: 10px;
}

.New-timer-form:hover {
  border-color: var(--header);
  color: var(--header);
}

.New-timer-button {
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
  font-size: 16px;
  color: var(--greytext);
}

.New-timer-button:hover {
  color: var(--header);
}
