:root {
  --header: #e5e6e7;
}

.App {
  text-align: center;
}

.Header {
  background-color: var(--header);
  height: 50px;
}

.Router {
  height: 1000px;
  background-color: rgb(20, 20, 20);
}

#logo {
  height: 40px;
  position: absolute;
  left: 40px;
  top: 5px;
}